@import "tailwindcss";
@source inline("bg-primary-content");
/* @source "../src"; */
/* @source inline("bg-primary-content"); */
/* @source inline("bg-{x,y,t,b,l,r}-{1..10}"); */
/* @config {
  safelist: [
    {
      pattern: /./,
    }
  ];
} */
@plugin "daisyui" {
    themes: all;
  }

@source "../node_modules/yadl-preview";